.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 600px;
	height: 100%;
}

.profile_orders {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	height: 100%;
	padding: 0;
}

.profile_orders_content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
	padding: 0;
	overflow: hidden auto;
	list-style-type: none;
}
