.order_item_container {
	position: relative;
	width: 584px;
	overflow: hidden;
	background-color: var(--background);
	border-radius: 40px;
	opacity: 1;
}

.order_item {
	color: var(--text-primary-color);
	text-decoration: none;
}

.order_item_done {
	color: #00cccc;
}

.order_item_header {
	display: flex;
	justify-content: space-between;
	padding: 0;
}

.order_item_ingredients {
	display: flex;
	justify-content: space-between;
	margin-left: 24px;
	column-gap: 24px;
}

.order_item_price {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}
