.burger_constructor {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 16px;
	width: 600px;
	height: auto;
	color: var(--text-primary-color);
}

.bun {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.list {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	overflow: hidden auto;
	list-style-type: none;
}

.list_item {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.total {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-self: center;
	gap: 8px;
	height: 64px;
}
