.feed_totals {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 600px;
	color: var(--text-primary-color);
}

.feed_totalsboard {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	column-gap: 36px;
}

.feed_totalsboard_done {
	width: 100%;
}

.feed_totalsboard_donenum {
	display: flex;
	flex-flow: column wrap;
	gap: 8px;
	height: 154px;
	margin: 0;
	padding: 0;
	color: #00cccc;
	list-style-type: none;
}

.feed_totalsboard_pending {
	width: 100%;
}

.feed_totalsboard_pendingnum {
	display: flex;
	flex-flow: column wrap;
	gap: 8px;
	height: 154px;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.totals_all_time {
	width: 100%;
}

.totals_today {
	width: 100%;
}
