.wrap {
	position: relative;
	overflow: hidden;
	background-color: var(--background);
	border-radius: 40px;
	opacity: 1;
}

.buttonclose {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	cursor: pointer;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
}
